<div class="main">
    <div class="col-xl-12 header">
      <h1>TODOS</h1>
      <input class="form-control col-xl-6" [(ngModel)]="searchText" type="search" placeholder="Search" aria-label="Search" style="margin: 0 auto;">
    </div>
    <div class="container-fluid">
      <div class="row">

        <mat-tab-group mat-stretch-tabs="always" style="width: 100%;">
          <mat-tab label="Active">
            <div class="col-xl-12 pad">
              <div class="row">
                <div class="col-lg-3" *ngFor="let task of activeTaskList | searchFilter : searchText">
                  <app-note [task]="task"></app-note>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Closed">
            <div class="col-xl-12 pad">
              <div class="row">
                <div class="col-lg-3" *ngFor="let task of completedTaskList | searchFilter : searchText">
                  <app-note [task]="task"></app-note>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
</div>
